


.header {
    height: 120px;
    background-image: linear-gradient(0,#f8492f,#f94c2f);

}
.header_navbar{
    display: flex;
    justify-content: space-between;
}
.header_navbar-list{
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
   
    
}
.header_navbar-item{
    margin : 0 10px;
    position: relative;
    min-height: 16px;
}
.header_navbar-item:hover .header_noti{
    display: block;
}


.header_navbar-item--has-qr:hover .header_qr{
    display: block;

}
.header_navbar-item,
.header_navbar-item-link{
    display: inline-block;
    font-size: 1.2rem;
    color: var(--white-color) ;
    text-decoration: none;
    font-weight: 100;
    
}
.header_navbar-item,
.header_navbar-icon-link,
.header_navbar-item-link{
    display: inline-flex;
    align-items: center;
   
}
.header_navbar-item--strong{
    font-weight: 600;
}
.header_navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
    width: 1px;
    height: 20px;
    background-color: var(--white-color);
}
.header_navbar-item:hover,
.header_navbar-item-link:hover{
    cursor: pointer;
    color: rgba(255, 255, 255,0.8 );
}
.header_navbar-icon-link{
     color: rgb(248, 239, 239);
     text-decoration: none;
}
.header_navbar-icon{
    font-size: 1.5rem;
    margin: 0 4px;

}
.fa-facebook:hover{
    color: #1877F2;
}
.fa-instagram:hover{
    color: #1df312;
}
.fa-question-circle:hover{
    color: #0f0f0ffa;
}
.fa-bell:hover{
    color: #0f0f0ffa;
}
.header_navbar-item--title--no-pointer{
    cursor: default;
    color: var(--white-color);
}
/* Header QR code */
.header_qr{
width: 186px;
 background-color: var(--white-color);
 position: absolute;
 left: 0;
 top: calc(120%);
 padding:0 8px;
 border-radius: 5px;
 display: none;
 animation: fadeIn 0.3s ease-in;
 
}
.header_qr::before{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 20px;
    left: 0;
    top: -20px;
    
    
}
.header_qr-img{
    width: 100%;


}
.header_qr-apps{
    display: flex;
    justify-content: space-between;

}
.header_qr-link:nth-child(1){
    margin-left: 11px;
}
.header_qr-link:nth-child(2){
    margin-right: 11px;
}
.header_qr-download-img{
    
    height: 18px;
    
  
}
@keyframes fadeIn {
    0%{
        transform: translateY(-10px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
/* header notification */
.header_noti{
    position: absolute;
    top: 100%;
    right: 0;
    width: 404px;
    background-color: var(--white-color);
    cursor: default;
    transform-origin: calc(100%-20px) top;
    animation: notify 0.3s ease-in-out;
    will-change: opacity, transform;
    display: none;
}

@keyframes notify{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}
    
    
.header_noti-header{
    height: 40px;
    background-color: #f1eaeafa;

}
.header_noti-header h3{
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    user-select: none;

}
.header_noti-list{
    padding-left: 0;

}
.header_noti-item{
    display: flex;

    
}
.header_noti-item:hover{
    background-color: #f1eaea;
}
.header_noti-item--viewed{
    background-color: rgba(238, 75, 35, 0.08);
}
.header_noti-link{
    display: flex;
    padding :12px;
    width: 100%;
    text-decoration: none;
    
    
}
.header_noti-img{
    width: 40px;
    object-fit: contain;
    border-radius: 10px;
}
.header_noti-info{
    margin-left: 12px;
}
.header_noti-name{
    display: block;
    font-size: 14px;
    color: rgb(17, 18, 18);
    font-weight: 400;
    line-height: 1.8rem;

}
.header_noti-price{
    display: block;
   font-size: 10px;
   color: #363637;
   margin-top: 4px;


}
.header_noti-footer{
    display: flex;
}
.header_noti-footer-btn{
    text-align: center;
    text-decoration: none;
    color: var(--white-color);
    background-color: #e1d5d5;
    padding: 8px ;
    font-weight: 500 ;
    width:100% ;
    font-size: 1.4rem;
}
.header_noti-footer-btn:hover{
    background-color: #cdc4c4;
}
/* /* Dang ki dang ki */
/* .modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.modal_overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(220, 208, 208, 0.3);
   
}
.modal_body{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 475px;
    margin: auto;
    transform: translate(-50%,-50%);
    background-color: rgba(239, 13, 13, 0.2);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(222, 29, 29, 0.2);
    z-index: 1;
}
.modal_inner{
    position: relative;
    height: 100%;
} */
